<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iAdmin - {:__('The fastest framework based on ThinkPHP5 and Bootstrap')}</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="__CDN__/assets/css/index.css" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-menu">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="__CDN__/assets/img/logo.png"  alt=""></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/index/index" >{:__('Home')}</a></li>
                <li><a href="/index/index/features" >{:__('features')}</a></li>
                <li><a href="/api.html" target="_blank">{:__('API Docs')}</a></li>
                <li><a href="/doc" target="_blank">{:__('manual')}</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
<section id="features" class="features" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>{:__('Features')}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-user text-primary"></i>
                                <h3>{:__('first tips')}</h3>
                                <!--<p class="text-muted">{:__('first tips')}</p>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-screen-desktop text-primary"></i>
                                <h3>{:__('second tips')}</h3>
                                <!--<p class="text-muted">{:__('second tips')}</p>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-arrow-down-circle text-primary"></i>
                                <h3>{:__('third tips')}</h3>
                                <!--<p class="text-muted">{:__('third tips')}</p>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-layers text-primary"></i>
                                <h3>{:__('forth tips')}</h3>
                                <!--<p class="text-muted">{:__('forth tips')}</p>-->
                            </div>
                        </div>
                        <!--<div class="col-md-4">-->
                            <!--<div class="feature-item">-->
                                <!--<i class="icon-docs text-primary"></i>-->
                                <!--<h3>{:__('CRUD')}</h3>-->
                                <!--<p class="text-muted">{:__('CRUD tips')}</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-4">-->
                            <!--<div class="feature-item">-->
                                <!--<i class="icon-puzzle text-primary"></i>-->
                                <!--<h3>{:__('Extension')}</h3>-->
                                <!--<p class="text-muted">{:__('Extension tips')}</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</header>
<footer>
    <div class="container">
        <!-- FastAdmin是开源程序，建议在您的网站底部保留一个FastAdmin的链接 -->
        <p>&copy; 2017-2019 <a href="http://www.funtech.com.cn/" target="_blank">iCenter</a>. All Rights Reserved.</p>
    </div>
</footer>

<!-- jQuery -->
<script src=https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdn.staticfile.org/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<script>
    $(function () {
        $(window).on("scroll", function () {
            $("#mainNav").toggleClass("affix", $(window).height() - $(window).scrollTop() <= 50);
        });
    });
</script>

</body>

</html>