<link href="/assets/addons/modelmanage/css/modelmanage.css" rel="stylesheet">
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {include file="common/cmdbIcon" /}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-5"></label>
        <div class="col-xs-12 col-sm-5 model-add">
            <div  class="icon-wrapper text-center">
                <i class="icon-cc-default"></i>
            </div>
            <input id="c-icon" type="hidden" name="row[bk_obj_icon]"  value="icon-cc-default">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('bk_group_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[bk_classification_id]" data-rule="required" class="form-control selectpicker" id="attr_type">
                <option value="" >请选择</option>
                {foreach name="groupArr" item="vo"}
                <option value="{$vo.bk_classification_id}" >{$vo.bk_classification_name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('bk_obj_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" placeholder="请输入唯一标识" class="form-control" name="row[bk_obj_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <span class="n-msg" style="color: #ff0000;">*唯一标识 只能是 下划线,数字,英文小写的组合</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('bk_obj_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" placeholder="请输入名称" class="form-control" name="row[bk_obj_name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <span class="n-msg" style="color: #ff0000;">*请填写模型名</span>
        </div>
    </div>


    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
