
<link href="/assets/addons/modelmanage/css/model.css" rel="stylesheet">


<main  class="main-layout" style="position: relative;">
    <div class="cmdb-main-inject btn-group clearfix">
        <!---->
        <div class="fl">

            <span style="display: inline-block;"><button title="" id="create-model" class="bk-button bk-primary bk-button-normal has-tooltip"><!----><span> 新建模型 </span></button></span>
     <span style="display: inline-block;"><button title=""    id = "create-group" class="bk-button bk-default bk-button-normal">
         <!----> <span> 新建分组 </span></button></span>
        </div>
        <div class="model-type-options fr">
            <button title="" id="status-on" class="bk-button model-type-button enable bk-primary bk-button-mini">
                <!----> <span> 已启用模型 </span></button>
            <div class="bk-tooltip" placenment="bottom">
                <div class="bk-tooltip-rel">
                    <button title="" id="status-off" class="bk-button model-type-button  bk-default bk-button-mini  has-tooltip">
                        <!----> <span> 已停用模型 </span></button>
                </div>
                <div class="bk-tooltip-popper" style="display: none;">
                    <div class="bk-tooltip-content">
                        <div class="bk-tooltip-arrow"></div>
                        <div class="bk-tooltip-inner">
                            没有已停用的模型
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div  class="main-scroller" style="position: relative;">-->



    <div  class="" style="position: relative;">
        <div  class="group-wrapper views-layout">
            <ul class="group-list" id="model-status-on">
                <?php foreach ($rows as $k=>$row):?>
                <li class="group-item clearfix" id="{$row.bk_classification_id}">
                    <?php $count = count($row['bk_objects'])?>
                    <div class="group-title">
                        <span class="name_{$row.id|htmlentities}">{$row.bk_classification_name|htmlentities}</span>
                        <span class="number">({$count|htmlentities})</span>
                        <?php if($count==0){?>
                        <i data-v-7e5121d5="" class="icon-cc-edit text-primary" data-id = {$row.id|htmlentities}></i>
                        <i data-v-7e5121d5="" class="icon-cc-del text-primary" data-id = {$row.id|htmlentities}></i>
                        <?php }?>
                    </div>

                    <ul class="model-list clearfix">
                        <?php foreach ($row['bk_objects'] as $k=>$v):?>
                        <li class="model-item ispre">
                            <a href="attr/index/obj/{$v.bk_obj_id|htmlentities}">
                                <div class="icon-box">
                                    <i class="icon {$v.bk_obj_icon|htmlentities}"></i>
                                </div>
                                <div class="model-details">
                                    <p title="v[bk_obj_name]" class="model-name">{$v.bk_obj_name|htmlentities}</p>
                                    <p title="v[bk_obj_id]" class="model-id">{$v.bk_obj_id|htmlentities}</p>
                                </div>
                            </a>
                        </li>
                        <?php endforeach?>
                    </ul>
                </li>
                <?php endforeach?>

            </ul>
            <ul class="group-list hidden" id="model-status-off">
                <?php foreach ($rows1 as $k=>$row):?>
                <li class="group-item clearfix" id="{$row.bk_classification_id}">
                    <?php $count = count($row['bk_objects'])?>
                    <div class="group-title">
                        <span class="name_{$row.id|htmlentities}">{$row.bk_classification_name|htmlentities}</span>
                        <span class="number">({$count|htmlentities})</span>
                        <?php if($count==0){?>
                        <i data-v-7e5121d5="" class="icon-cc-edit text-primary" data-id = {$row.id|htmlentities}></i>
                        <i data-v-7e5121d5="" class="icon-cc-del text-primary" data-id = {$row.id|htmlentities}></i>
                        <?php }?>
                    </div>

                    <ul class="model-list clearfix">
                        <?php foreach ($row['bk_objects'] as $k=>$v):?>
                        <li class="model-item ispre">
                            <a href="attr/index/obj/{$v.bk_obj_id|htmlentities}">
                                <div class="icon-box">
                                    <i class="icon {$v.bk_obj_icon|htmlentities}"></i>
                                </div>
                                <div class="model-details">
                                    <p title="v[bk_obj_name]" class="model-name">{$v.bk_obj_name|htmlentities}</p>
                                    <p title="v[bk_obj_id]" class="model-id">{$v.bk_obj_id|htmlentities}</p>
                                </div>
                            </a>
                        </li>
                        <?php endforeach?>
                    </ul>
                </li>
                <?php endforeach?>

            </ul>

        </div>
        <div class="resize-triggers">
            <div class="expand-trigger">
                <!--<div style="width: 1013px; height: 304px;"></div>-->
                <div style=""></div>
            </div>
            <div class="contract-trigger"></div>
        </div>
    </div>
    <div class="bk-loading" style="position: absolute; background-color: rgba(255, 255, 255, 0.9); display: none;">
        <div class="bk-loading-wrapper">
            <div class="bk-loading1">
                <div class="point point1"></div>
                <div class="point point2"></div>
                <div class="point point3"></div>
                <div class="point point4"></div>
            </div>
            <div class="bk-loading-title"></div>
        </div>
    </div>
</main>