<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('bk_property_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[bk_property_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('bk_property_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control" name="row[bk_property_name]" type="text" value="">
            <input id="c-obj-id" type="hidden" class="form-control" name="row[bk_obj_id]" value="{:$obj}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('bk_property_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[bk_property_type]" class="form-control selectpicker" id="attr_type">
                {foreach name="typeArr" item="vo"}
                <option value="{$key}" >{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('bk_property_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <label class="cmdb-form-checkbox cmdb-checkbox-small">
                <input type="checkbox" name="row[editable]" value=true>
                <span class="cmdb-checkbox-text">可编辑</span>
            </label>
            <label class="cmdb-form-checkbox cmdb-checkbox-small">
                <input type="checkbox" name="row[isrequired]" value=true>
                <span class="cmdb-checkbox-text">必填</span>
            </label>
        </div>
    </div>
    <div class="form-group hidden" id="min">
        <label class="control-label col-xs-12 col-sm-2">最小值:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="number_min" data-rule=">最小值:match(lt, row[max])" type="number" name="row[min]" class="cmdb-form-input" aria-required="false" aria-invalid="false">
        </div>
    </div>
    <div class="form-group hidden" id="max">
        <label class="control-label col-xs-12 col-sm-2">最大值:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="number_max" data-rule="最大值:match(gt, row[min], row[max])" type="number" name="row[max]" class="cmdb-form-input" aria-required="false" aria-invalid="false">
        </div>
    </div>
    <div class="form-group form-enum-wrapper hidden">
        <label class="control-label col-xs-12 col-sm-2">枚举1</label>
        <div class="col-xs-12 col-sm-5">
            <dl class="fieldlist" data-name="row[comment]" >
                <dd>
                    <ins>键名</ins>
                    <ins>键值</ins>
                </dd>
                <dd><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i>{:__('Append')}</a></dd>
                <textarea name="row[comment]" class="form-control hide" cols="30" rows="5">{"option_01":"选项一","option_02":"选项2"}</textarea>
            </dl>
        </div>
    </div>


    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
