<link href="/assets/css/bluewhale.css" rel="stylesheet">
<div class="panel panel-default panel-intro">
    {include file="common/cmdbIcon" /}
    <div  class="model-info" style="position: relative;">
        <div  class="choose-icon-wrapper">
            <div  class="icon-box">
                <i  class="icon {:$res['bk_obj_icon']} ispre" style=" padding-left: 12px;"></i>
                <p  class="hover-text">点击切换</p>
            </div> <!---->
        </div>
        <div  class="model-text">
            <span >唯一标识：</span>
            <span  class="text-content id" id="obj-id">{:$res['bk_obj_id']}</span>
        </div>
        <div  class="model-text">
            <span >名称：</span>
            <span  class="text-content">{:$res['bk_obj_name']}</span> <!---->
            <i class="icon icon-cc-edit text-primary"></i>
        </div>
    </div>
    <div class="panel-heading">
        {:build_heading(null,FALSE)}
        <ul class="nav nav-tabs" data-field="status">
            {foreach name="statusList" item="vo"}
            <li class="{:$key=='first'?'active':''}"><a href="#{$key}" data-value="{$key}" data-toggle="tab">{$vo}</a></li>
            {/foreach}
        </ul>
    </div>


    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="first">
                <div class="widget-body no-padding">
                    <div id="toolbar1" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('bluewhale/atrr/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>

                    </div>
                    <table id="table1" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('bluewhale/atrr/edit')}"
                           data-operate-del="{:$auth->check('bluewhale/atrr/del')}"
                           width="100%">
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="second">
                <div id="toolbar2" class="toolbar">
                    {:build_toolbar('refresh')}
                    <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('bluewhale/association/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i>新建关联</a>
                </div>
                <table id="table2" class="table table-striped table-bordered table-hover" width="100%">
                </table>
            </div>
            <div class="tab-pane fade" id="third">
                <div id="toolbar3" class="toolbar">
                    {:build_toolbar('refresh')}
                </div>
                <table id="table3" class="table table-striped table-bordered table-hover" width="100%">
                </table>
            </div>
            <div class="tab-pane fade" id="fourth">
                <div id="toolbar4" class="toolbar">
                    {:build_toolbar('refresh')}
                </div>
                <!--<table id="table4" class="table table-striped table-bordered table-hover" width="100%">-->
                <!--</table>-->
                <div  class="group-wrapper views-layout">
                    <ul class="group-list">
                        <?php foreach ($table4 as $k=>$row):?>
                        <li class="group-item clearfix">
                            <?php $count = count($row);?>
                            <div class="group-title">
                                <span>{:$k}</span>
                                <span class="number">({$count|htmlentities})</span>
                            </div>
                            <ul class="model-list clearfix">
                                <?php foreach ($row as $k=>$v):?>
                                <li class="model-item ispre">
                                        <div class="model-details">
                                            <p title="v[bk_property_name]" class="model-name">{$v.bk_property_name|htmlentities}</p>
                                        </div>
                                </li>
                                <?php endforeach?>
                            </ul>
                        </li>
                        <?php endforeach?>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
