<link href="/assets/addons/modelmanage/css/modelmanage.css" rel="stylesheet">
<div class="panel panel-default panel-intro">
    {include file="common/cmdbIcon" /}
    <div  class="model-text top-background">
        <span id="obj2" class="glyphicon glyphicon-arrow-left">返回</span>
    </div>
    <div  class="model-info" style="position: relative;">
        <div  class="choose-icon-wrapper">
            <div  class="icon-box">
                <i  class="icon {:$res['bk_obj_icon']} ispre" style=" padding-left: 12px;"></i>
                <p  class="hover-text">点击切换</p>
            </div> <!---->
        </div>
        <div  class="model-text">
            <span >唯一标识：</span>
            <span  class="text-content" id="obj-id" data-creator="{$res['creator']}" data-id="{:$res['id']}">{:$res['bk_obj_id']}</span>
        </div>
        <div  class="model-text">
            <span >名称：</span>
            <span  class="text-content" id="bk_obj_name">{:$res['bk_obj_name']}</span> <!---->
            <i class="icon icon-cc-edit text-primary bk-edit"></i>
        </div>
        <div  class="btn-group hidden">
            <!--<a href="javascript:;" class="btn btn-danger btn-stock-file plupload" title="复制出来的导入按钮" id="btn-stock-file" data-url="ajax/upload" data-mimetype="csv,xls,xlsx" data-multiple="false"><i class="fa fa-upload"></i>&nbsp;复制出来的导入按钮</a>-->
            <!--<label  class="label-btn import-xlsx">-->
                <!--<i  class="icon-cc-import"></i>-->
                <!--<span >导入</span>-->
                <!--&lt;!&ndash;<input  type="file" id="btn-import-file">&ndash;&gt;-->
            <!--</label>-->
            <label  class="label-btn has-tooltip" id="model-stop" data-ispaused="{$res['bk_ispaused']}" data-id="{:$res['id']}">
                <i  class="bk-icon icon-minus-circle-shape"></i>
                <span >{$res['bk_ispaused'] == '0' ? '停用': '启用'}</span>
            </label>
            <label  class="label-btn has-tooltip" id="model-del" data-id="{:$res['id']}">
                <i  class="icon-cc-del"></i>
                <span >删除</span>
            </label>
        </div>
    </div>
    <div class="panel-heading">
        {:build_heading(null,FALSE)}
        <ul class="nav nav-tabs" data-field="status">
            {foreach name="statusList" item="vo"}
            <li class="{:$key=='first'?'active':''}"><a href="#{$key}" data-value="{$key}" data-toggle="tab">{$vo}</a></li>
            {/foreach}
        </ul>

    </div>

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="first">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh,add,import',$btnAttr)}
                        <a href="javascript:;" class="btn btn-success btn-export hidden" title="{:__('Export')}" id="btn-export-file"><i class="fa fa-download"></i> {:__('Export')}</a>
                    </div>
                    <table id="table1" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('modelmanage/atrr/edit')}"
                           data-operate-del="{:$auth->check('modelmanage/atrr/del')}"
                           width="100%">
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="second">
                <div id="toolbar2" class="toolbar">
                    {:build_toolbar('refresh')}
                    <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('modelmanage/association/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i>新建关联</a>
                </div>
                <table id="table2" class="table table-striped table-bordered table-hover" width="100%">
                </table>
            </div>
            <div class="tab-pane fade" id="third">
                <div id="toolbar3" class="toolbar">
                    {:build_toolbar('refresh')}
                    <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('modelmanage/unique/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i>新建校验</a>
                </div>
                <table id="table3" class="table table-striped table-bordered table-hover" width="100%">
                </table>
            </div>
            <div class="tab-pane fade" id="fourth">
                <div id="toolbar4" class="toolbar">
                    {:build_toolbar('refresh')}
                </div>
                <div  class="group-wrapper views-layout">
                    <ul class="group-list" max_bk_group_index = "{$max_bk_group_index|htmlentities}">
                        <?php foreach ($table4 as $key=>$row):?>
                        <?php if(isset($row['data'])){?>
                            <?php $firstArry = current($row['data']);?>
                                <?php $count = count($row['data']);?>
                                <?php if($row['bk_group_name'] == '更多属性'){?>
                        <li class="group-item clearfix" for-change="none" bk_group_id ="none" group-id="{$row['id']|htmlentities}">
                            <span class="black-line"></span>
                                <div class="group-title">
                                    <span class="group-obj-name" value="{$row['bk_group_name']|htmlentities}">{$row['bk_group_name']|htmlentities}</span>
                                    <span class="number">({$count|htmlentities})</span>
                                </div>
                                <?php }else{?>
                        <li class="group-item clearfix" bk_group_id ="{$row['bk_group_id']|htmlentities}" group-id="{$row['id']|htmlentities}">
                            <span class="black-line"></span>
                                <div class="group-title">
                                    <span class="group-obj-name" value="{$row['bk_group_name']|htmlentities}">{$row['bk_group_name']|htmlentities}</span>
                                    <span class="number">({$count|htmlentities})</span>
                                    <i class="icon icon-cc-edit group-edit " edit-id="{$row['id']|htmlentities}"></i>
                                </div>
                                <?php }?>
                                <ul class="property-list clearfix disabled">
                                    <?php foreach ($row['data'] as $k=>$v):?>
                                    <li class="property-item fl"
                                        bk_group_id="{$v.bk_group_id|htmlentities}"
                                        bk_property_id="{$v.bk_property_id|htmlentities}"
                                        bk_property_group="{$v.bk_property_group|htmlentities}"
                                        bk_property_index="{$v.bk_property_index|htmlentities}"
                                        bk_property_name="{$v.bk_property_name|htmlentities}"
                                    >
                                        {$v.bk_property_name|htmlentities}
                                    </li>
                                    <?php endforeach?>

                                </ul>
                            </li>
                        <?php }else{?>
                            <?php if($row['bk_group_name'] == '更多属性'){?>
                        <li class="group-item clearfix" bk_group_id ="none" group-id="{$row['id']|htmlentities}" >
                            <span class="black-line"></span>
                            <div class="group-title">
                                <span class="group-obj-name" value="{$row['bk_group_name']|htmlentities}">{$row['bk_group_name']|htmlentities}</span>
                                <span class="number">(0)</span>
                            </div>
                            <?php }else{?>
                        <li class="group-item clearfix" bk_group_id ="{$row['bk_group_id']|htmlentities}" group-id="{$row['id']|htmlentities}" >
                            <span class="black-line"></span>
                            <div class="group-title">
                                <span class="group-obj-name" value="{$row['bk_group_name']|htmlentities}">{$row['bk_group_name']|htmlentities}</span>
                                <span class="number">(0)</span>
                                <i class="icon icon-cc-edit group-edit " edit-id="{$row['id']|htmlentities}"></i>
                            </div>
                            <i class="icon-cc-del all-group-del" del-id="{$row['id']|htmlentities}"></i>
                            <?php }?>
                            <ul  class="property-list clearfix empty">
                                <li  class="property-empty">
                                立即添加
                                </li>
                            </ul>
                        </li>
                        <?php }?>
                        <?php endforeach?>

                    </ul>
                    <li class="group-item clearfix">
                        <div class="add-group"><a href="javascript:void(0)" class="add-group-trigger">
                            新建分组
                            <i class="icon icon-cc-edit group-add"  ></i></a></div>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
