<div class="choose-icon-box" style="display: none">
    <div class="model-icon-list">
        <div class="page clearfix">
            <input type="text" class="cmdb-form-input" placeholder="请输入关键词" >
            <div class="page-btn">
                <button type="default"  id="button-pre" class="bk-button bk-default bk-button-normal"  >
                    <i class="bk-icon icon-angle-left"></i>
                </button>
                <button type="default" id="button-next" class="bk-button bk-default bk-button-normal"  >
                    <i class="bk-icon icon-angle-right"></i>
                </button>
            </div>
        </div>
        <ul class="icon-box clearfix" ref="iconBox">
        </ul>
    </div>
</div>
